:root{
    /*Background Colours*/
    --main-bg: #132117;
    --soft-bg: #1a2e20;
    --dark-bg: #070f09;

    /*Foreground Colours*/
    --main-colour: #ffffff;
    --soft-colour: #ebebeb;
    --dark-colour: #383838;
}
