a{
    color: var(--fadedcolour);
    text-decoration: none;
}

li{
    text-decoration: none;
    text-align: center;
}

ul{
    text-decoration: none;
    list-style: none;
    padding-inline-start: 0;
}

