a{
    color: var(--fadedcolour);
    text-decoration: none;
}

li{
    text-decoration: none;
    text-align: left;
    margin-left: 10%;
}

ul{
    text-decoration: none;
    list-style: none;
    padding-inline-start: 0;
}

.css-6hp17o-MuiList-root-MuiMenu-list{
    padding: 0!important;
    border-radius: 3vh!important;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    border-radius: 1vh!important;
}