.projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Center the entire content horizontally */
}

.imagesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 80vw;
    max-height: 40vh;
    overflow: hidden;
    justify-self: center;
    gap: 5vw;
}

.imagesContainer div{
    display:grid;
    text-align: start!important;
}
.imagesContainer img {
    max-width: calc(50% - 2.5vw);
    /* 50% width with 5vw gap */
    max-height: 100%;
    object-fit: contain;
    /* Maintain aspect ratio and fit within the container */
}

.projectContainer {
    border-bottom: solid 1px var(--fadedcolour);
    margin-bottom: 1vh;
    padding: 1vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Center the content horizontally within each project container */
}

.projectContainer a{
    display: flex!important;
    text-align: start!important;
    justify-self: start;
    width:100%;
}

h3{
    text-align: start!important;
    align-self: start!important;
}