@import './vars.css';

body{
    background-color: var(--mainbg);
}

@media (max-width: 1399px) {
  .css-1y478p {
    margin-top: 0!important;
  }
}

@media (min-width: 1400px) {
  .css-1y478p {
    margin-top: 5vh!important;
  }
}

:root{
  justify-content:center;
}