html, body{
    margin: 0px;
    height: 100%;
    padding: 0;
    overflow:hidden;
    min-height: 100%;
}

#root{
  height: 100%;
  box-sizing: border-box;
  position: relative;
  display:flex;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}